.section-numeral1-section-numeral {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.section-numeral1-divide {
  width: 100px;
  height: 1px;
  display: flex;
  margin-top: 4px;
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
.section-numeral1-root-class-name {
  align-self: flex-start;
}
.section-numeral1-root-class-name1 {
  align-self: flex-start;
}
@media(max-width: 479px) {
  .section-numeral1-divide {
    width: 20px;
  }
  .section-numeral1-text {
    font-size: 16px;
    line-height: 24px;
  }
}

.digi-dist1-speakers {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.digi-dist1-header {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.digi-dist1-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1035px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.digi-dist1-title {
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.digi-dist1-caption {
  width: 557px;
  height: 254px;
  font-size: 18px;
  line-height: 27px;
}
.digi-dist1-image {
  right: 121px;
  width: 569px;
  bottom: -34px;
  height: 625px;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
}

@media(max-width: 991px) {
  .digi-dist1-heading {
    width: 848px;
  }
  .digi-dist1-caption {
    width: 402px;
    height: 393px;
  }
  .digi-dist1-image {
    right: 71px;
    bottom: 161px;
  }
}
@media(max-width: 767px) {
  .digi-dist1-speakers {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .digi-dist1-heading {
    gap: var(--dl-space-space-unit);
  }
  .digi-dist1-title {
    font-size: 30px;
    line-height: 33px;
  }
  .digi-dist1-caption {
    width: 575px;
    font-size: 16px;
    line-height: 24px;
  }
  .digi-dist1-text {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .digi-dist1-image {
    right: 26px;
    width: 349px;
    bottom: 115px;
    height: 387px;
  }
}
@media(max-width: 479px) {
  .digi-dist1-caption {
    width: 444px;
  }
  .digi-dist1-image {
    left: 49px;
    width: 328px;
    bottom: -222px;
    height: 352px;
  }
}
